name: CS421pain
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - numpy
  - pandas
  - matplotlib
  - seaborn
  - scikit-learn
  - scipy
  - jupyter
  - notebook
  - ipykernel
  - pip
  - pip:
    - torch
    - tensorflow
    - keras
